:root {
  box-sizing: border-box;
  --medium-padding: 0.75em;
  --medium-margin: 30px;
  --medium-gap: 50px;
  --primary-white: #fffbeb;
  --primary-yellow: #F9FF4C;
  --primary-black: #112A46;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: grid;
  background-image: url('/img/noodle-steamy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

/* Header */
.header {
  grid-row: 1 / 2;
  padding: var(--medium-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn,
.logo-container {
  cursor: pointer;
}

.logo-container {
  color: var(--primary-yellow);
  font-weight: bold;
  font-size: 1.125rem;
}

.nav-item-container {
  list-style-type: none;
  display: flex;
  gap: var(--medium-gap);
}

.nav-btn {
  padding: var(--medium-padding);
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary-yellow);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
}

.nav-btn:active {
  background-color: #989b2f;
}

.main {
  grid-row: 2 / 3;
}

/* Home */
.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  color: var(--primary-yellow);
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.hero-highlights {
  color: var(--primary-white);
  font-size: 2rem;
}

/* Menu */
.menu-wrapper {
  color: var(--primary-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--medium-padding);
  background-color: rgba(0, 0, 0, .8);

}

.tab-title {
  letter-spacing: 3px;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--primary-yellow);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.best-seller {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--primary-white);
}

.type {
  display: grid;
  text-align: center;
  font-size: 2.25rem;
  color: var(--primary-yellow);
  letter-spacing: 2.5px;
  font-weight: bold;
  margin-bottom: var(--medium-margin);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  align-items: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.type::before,
.type::after {
  content: '';
  height: 5px;
  background-color: transparent;
  display: block;
  border: 1px solid var(--primary-yellow);
}

.menu-row-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: var(--small-margin);
}

.menu-row {
  padding: var(--medium-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-name,
.menu-price {
  color: var(--primary-yellow);
}

.menu-name {
  font-size: 1.75rem;
}

.menu-description {
  font-weight: lighter;
}

/* Footer */
a {
  text-decoration: none;
}

.footer {
  grid-row: 3 / -1;
  margin-top: auto;
  padding: var(--medium-padding);
  text-align: right;
  color: var(--primary-white);
}

.trademarks,
.footer a {
  opacity: 20%;
}

.footer a {
  color: var(--primary-white);
}

.footer a:hover {
  color: var(--primary-yellow);
  opacity: 100%;
}