/* Poppins font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  margin: 0;
  padding: 0;
  --medium-padding: 0.75em;
  --medium-margin: 120px;
  --medium-gap: 50px;
  --primary-white: #fffbeb;
  --primary-yellow: #F9FF4C;
  --primary-black: #112A46;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  background-image: url('/img/noodle-steamy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  grid-row: 1 / 2;
  padding: var(--medium-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.nav-btn,
.logo-container {
  cursor: pointer;
}

.logo-container {
  color: var(--primary-yellow);
  font-weight: bold;
  font-size: 1.125rem;
}

.nav-item-container {
  list-style-type: none;
  display: flex;
  gap: var(--medium-gap);
}

.nav-btn {
  padding: var(--medium-padding);
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary-yellow);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
}

.nav-btn:active {
  background-color: #989b2f;
}

#content {
  grid-row: 2 / 3;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  color: var(--primary-yellow);
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 500;
}

.hero-highlights {
  color: var(--primary-white);
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.footer {
  grid-row: 3 / -1;
  margin-top: auto;
  padding: var(--medium-padding);
  text-align: right;
  color: var(--primary-white);
}

.trademarks,
.footer a {
  opacity: 20%;
}

.footer a {
  color: var(--primary-white);
}

.footer a:hover {
  color: var(--primary-yellow);
  opacity: 100%;
}